body,h1,h2 {
    background-color: #FFD240;
}

input[type=search] {
    border-style: solid;
    border-radius: 10px;
    width: 50em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: #ffe180;
    font-size: 12em;


    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    color: #0019B2;
    font-size: 5em;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#similar_q {
    color: #ffe180;
    font-size: 7em;
    text-align: center;
    white-space: nowrap;


    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#answer_form {
    background-color: #ffe180;
    height: 70%;
    width: 70%;
    font-size: 30px;
    color: #0019B2;
    resize: none;
    border-radius: 15px;
    outline: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#last_question {
    color : #001AB2;
    font-size: 4em;
    text-align: center;
    white-space: nowrap;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#submit_btn {
    background-color: #ffe180;
    border-style: solid;
    border-radius: 10px;
    width: 6em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
}

#answer_form {
    background-color: #ffe180;
    height: 70%;
    width: 70%;
    font-size: 30px;
    color: #0019B2;
    resize: none;
    border-radius: 15px;
    outline: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    background-color: #ffe180;
    border-style: solid;
    border-radius: 10px;
    width: 15em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
}

#left {
    left: 20%;
}

#right {
    left:80%;
}
 #center {
    left: 50%;
 }

#keep {
    left:50%;
    top: 70%;
    width: 30em;
}
#submit_btn {
    background-color: #ffe180;
    border-style: solid;
    border-radius: 10px;
    width: 6em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
}